:root {
  --gruve-dark-blue: #001122;
  --gruve-midtone-blue: #1b223d;
  --gruve-light-blue: #edf3f9;
  --gruve-violet: #6c3965;
  --gruve-pink: #c15167;
  --gruve-orange: #f5874d;
  --gruve-yellow: #fbae3c;
}

body {
  margin: 0;
}

.dark {
  background: url("/public/gruveBackgroundDark.svg") no-repeat center center
    fixed;
  background-size: cover;
  background-color: var(--gruve-dark-blue);
}

.light {
  background: url("/public/gruveBackgroundLight.svg") no-repeat center center
    fixed;
  background-size: cover;
  background-color: var(--gruve-light-blue);
}

@media screen and (max-width: 600px) {
  body.dark {
    background: url("/public/gruveBackgroundDark-mobile.svg") no-repeat center
      center fixed;
    background-size: cover;
    background-color: var(--gruve-dark-blue);
  }

  body.light {
    background: url("/public/gruveBackgroundLight-mobile.svg") no-repeat center
      center fixed;
    background-size: cover;
    background-color: var(--gruve-light-blue);
  }
}
